<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1><%= @h1 %></h1>
      <hr>
      <p><%= @main_p %></p>
      <a href="tel:+1-718-846-1600" class="btn btn-primary btn-xl page-scroll"><i class="fa fa-phone"></i> CLICK TO CALL =>></a> <br/>
      <br/>
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Sell your items right now!</h2>
        <hr class="light">
        <p class="text-faded"> Electronic items lose value every single second, if you do not use something, better sell it.
          Nobody wants to buy "items from yestarday", do not waste your time and money, call us right now.</p>
        <a href="#" class="btn btn-default btn-xl">learn more =>></a>
      </div>
    </div>
  </div>
</section>