

<%
   meta title: @title,
        description: @description,
        keywords: @key_words
%>


<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">SellElectronics.NYC</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to 'Phone/PC repair', cell_phone_repair_path, class: "page-scroll" %>
        </li>
        <li>
          <a class="page-scroll" href="#about">Online Form</a>
        </li>
        <li>
          <a class="page-scroll" href="#services">How it works?</a>
        </li>
        <li>
          <a class="page-scroll" href="#portfolio">What We Buy</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">Contacts</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>



<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Sell Your Electronics In NYC</h1>
      <hr>
      <p>The best place to sell your items in New York City Area. We always pay more, cash on the spot. No need to send
      your items and wait, just come and take your top dollar!</p>
      <h2>Phone & PC repair.</h2>
      <a href="tel:+1-718-846-1600" class="btn btn-primary btn-xl page-scroll"><i class="fa fa-phone"></i> CLICK TO CALL =>></a> <br/>
      <br/>
      <a href="https://www.google.com/maps/dir/Current+Location/8710+Lefferts+BLVD+Richmond+Hill+NY+11418" class="btn btn-primary btn-xl page-scroll"><i class="fa fa-map-marker"></i> Location in Queens</a>
      <br/> <br/>
      <!--<a href="https://www.google.com/maps/place/71+W+47th+St,+New+York,+NY+10036+Suite+302" class="btn btn-primary btn-xl page-scroll">-->
        <!--<i class="fa fa-map-marker"></i> Location in Manhattan (Suite 302)</a>-->
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Sell your items right now!</h2>
        <hr class="light">
        <p class="text-faded"> Electronic items lose value every single second, if you do not use something, better sell it.
        Nobody wants to buy "items from yestarday", do not waste your time and money, call us right now or fill out online form.</p>
        <a href="/online_form" class="btn btn-default btn-xl">Online Form =>></a>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">How it works?</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-mobile wow bounceIn text-primary"></i>
          <h3>Have device to sell?</h3>
          <p class="text-muted">We buy almost all electronic items. You can find all information here on website or just call us.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-calendar wow bounceIn text-primary" data-wow-delay=".1s"></i>
          <h3>Make appointment.</h3>
          <p class="text-muted">Queens office works Sunday to Friday from 10 am till 7 pm. If you want to come to our
            Manhattan location, you need to schedule an appointment. </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-trash-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>Prepare your device.</h3>
          <p class="text-muted">Please restore your devices, turn off your google or apple accounts, sign out from icloud etc....</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-money wow bounceIn text-primary" data-wow-delay=".3s"></i>
          <h3>Get you cash!!!)</h3>
          <p class="text-muted">After all this steps all you need is to bring your device to us. You will get your top dollar.
            Satisfaction guaranteed. (Do not forget your ID)</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/iphone.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Sell your phone
              </div>
              <div class="project-name">
                (iPhone 6, iPhone 6 plus, iPhone 5S, iPhone 5C, iPhone 5, Samsung Galaxy S6, Galaxy S6 Edge, Note 3, Note 4)
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/ipad.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Sell your tablets
              </div>
              <div class="project-name">
                (iPad Air 2, iPad Air 1, iPad 4, iPad mini 2, iPad mini 3, Samsung Galaxy Tab, etc)
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/imac.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Desktops and iMacs
              </div>
              <div class="project-name">
                (iMac Retina, iMac, Mac Mini, Mac Pro, etc)
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/macbook.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Sell Laptops
              </div>
              <div class="project-name">
                (MacBook Pro 15, MacBook Pro 13, MacBook Air 13, MacBook Air 11,
                New MacBook)
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/camera.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Sell Cameras
              </div>
              <div class="project-name">
                (Canon, Leica, Nikon, Sony, etc)
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="portfolio-box">
          <img src="img/ps.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Sell Game Consoles
              </div>
              <div class="project-name">
                (Sony Playstation 4, X-Box One)
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<aside class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>We buy almost all electronic items.</h2>
      <a href="#" class="btn btn-default btn-xl wow tada">See full list =>></a>
    </div>
  </div>
</aside>





